<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" th:href="@{/img/logo.png}">
    <title>3C Sistemas Digitais</title>
    <!--CSS-->
    <link rel="stylesheet" th:href="@{/bootstrap-5.0.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fontawesome-5.15.3/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/estilo.css}">

</head>
<body>
    <!--NAV-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/}">3C Sistemas Digitais</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/}">Principal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/projeto/list}">Projeto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/funcionario/list}">Funcionario</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/cargo/list}">Cargo</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>


    <div class="container container-principal">

      <div class="card">
          <div class="card-header">
            Produto A
          </div>
          <div class="card-body">
            <h5 class="card-title">Detalhes do produto</h5>
            <p class="card-text">Esse produto é muito bom.</p>
            <a href="#" class="btn btn-dark">Go somewhere</a>
          </div>
      </div>

      <div class="card">
          <div class="card-header">
            Produto B
          </div>
          <div class="card-body">
            <h5 class="card-title">Detalhes do produto</h5>
            <p class="card-text">Esse produto é muito bom.</p>
            <a href="#" class="btn btn-dark">Go somewhere</a>
          </div>
      </div>

      <div class="card">
        <div class="card-header">
          Produto C
        </div>
        <div class="card-body">
          <h5 class="card-title">Detalhes do produto</h5>
          <p class="card-text">Esse produto é muito bom.</p>
          <a href="#" class="btn btn-dark">Go somewhere</a>
        </div>
    </div>
  </div>

  <footer>
    <ul>
      <li><strong>3C Sistemas Digitais </strong></li>
      <li>Contato: (48) 99888-1234</li>
      <li>E-mail: SistemasDigitais3c@gmail.com</li>
    </ul>
  </footer>

    <!--JS-->
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/bootstrap-5.0.0/js/bootstrap.min.js}"></script>
    


</body>
</html>